@font-face {
    font-family: "BlackhanSans";
    font-weight: 50;
    src: url("../font/MICEGothic.ttf") format("truetype");
}

*{
    font-family: "BlackhanSans";
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

body{
    height: 3000px;
}

