@font-face {
  font-family: "BlackhanSans";
  font-weight: 50;
  src: url("../font/MICEGothic.ttf") format("truetype");
}

@font-face {
  font-family: "ELAND";
  font-weight: 50;
  src: url("../font/ELAND\ 나이스\ M.ttf") format("truetype");
}

* {
  font-family: "BlackhanSans";
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}


/* ::-webkit-scrollbar {
  display: none;
} */
