.TabContainer {
  z-index: 99999999;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: transparent;
  transition: 0.3s;
  .TabLeft {
    color: rgb(218, 218, 218);
    font-weight: bold;
    margin: 18px;
    font-size: 27px;
    &:hover {
      cursor: pointer;
    }
  }
  .TabRight {
    width: 90%;
    color: rgb(218, 218, 218);
    font-weight: bold;
    margin: 24px;
    font-size: 20px;
    display: flex;
    justify-content: right;
    a {
      float: left;
      margin-left: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.transTabContainer {
  z-index: 99999999;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: rgb(255, 255, 255);
  transition: 0.8s;
  .TabLeft {
    color: rgb(41, 41, 41);
    font-weight: bold;
    margin: 18px;
    font-size: 27px;
    &:hover {
      cursor: pointer;
    }
  }
  .TabRight {
    width: 90%;
    color: rgb(41, 41, 41);
    font-weight: bold;
    margin: 24px;
    font-size: 20px;
    display: flex;
    justify-content: right;
    a {
      float: left;
      margin-left: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.HomeContainer {
  width: 100%;
  height: 600px;
  overflow: hidden;

  .img {
    height: 70vh;
    background-image: url(../../assets/img/laptop-notebook-computer-screen-apple-table-914874-pxhere.com.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(112, 93, 80, 0.8);
    opacity: 0.9;
  }

  .HomeIntroduce {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    .Name {
      font-family: "ELAND";
      text-align: center;
      font-size: 60px;
      color: azure;
    }
    .NamePortfolio {
      width: 500px;
      font-family: "ELAND";
      margin-top: 20px;
      color: azure;
      font-size: 55px;
      text-align: center;
      margin-bottom: 20px;
    }
    .Nameintro1 {
      text-align: center;
      font-size: 18px;
      color: azure;
      margin: 5px;
    }
    .Nameintro2 {
      text-align: center;
      font-size: 18px;
      color: azure;
      margin: 5px;
      margin-bottom: 100px;
    }
    .NameBtn {
      font-weight: bold;
      display: block;
      width: 180px;
      height: 50px;
      border: none;
      border-radius: 20px;
      margin: auto;
      background-color: rgb(245, 131, 56);
      color: rgb(252, 252, 252);
      font-size: 30px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
      &:hover {
        background-color: rgb(255, 163, 102);

        transform: scale(1.2);
      }
    }
  }
}

@media (max-width: 720px) {
  /* 브라우저 사이즈 739px 이하일때*/
  .HomeContainer {
    width: 100%;
    height: 600px;
    overflow: hidden;
  
    .HomeIntroduce {
      width: 190px;
      position: absolute;
      top: 40%;
      left: 50%;
      z-index: 9999;
      transform: translate(-50%, -50%);
      .Name {
        text-align: center;
        font-size: 41px;
        color: azure;
      }
      .NamePortfolio {
        margin: 0 auto;
        width: 150px;
        margin-top: 20px;
        color: azure;
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
      }
      .Nameintro1 {
        text-align: center;
        font-size: 15px;
        color: azure;
        margin: 5px;
      }
      .Nameintro2 {
        text-align: center;
        font-size: 15px;
        color: azure;
        margin: 5px;
        margin-bottom: 80px;
      }
      .NameBtn {
        display: block;
        width: 180px;
        height: 50px;
        border: none;
        border-radius: 20px;
        margin: auto;
        background-color: rgb(245, 131, 56);
        color: rgb(252, 252, 252);
        font-size: 30px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &:hover {
          background-color: rgb(255, 163, 102);
  
          transform: scale(1.2);
        }
      }
    }
  }
}
